.exp {
  width: 100%; /* Take full width of the parent container */
  height: 100%;
  max-width: 1200px; /* Ensure it doesn't exceed a maximum width */
  height: fit-content;
  display: flex;
  flex-direction: column; /* Use column direction as needed */
  align-items: center; /* Center children horizontally within the container */
  padding: 3rem;
  margin: 0 auto;
  padding-bottom: 20rem;
  gap: 3rem;
}

.exp h1 {
  font-size: 2rem;
  margin: 0;
  width: 100%;
  text-decoration: 2px underline;
  text-underline-offset: 1rem;
}

.cardContainer {
  width: 100%; /* Take full width of the parent container */
  height: 100%;

  display: flex;
  flex-direction: var(
    --flex-direction,
    row
  ); /* Use column direction as needed */
  align-items: center; /* Center children horizontally within the container */
  justify-content: center;
  gap: 5rem;
}

@media (max-width: 1000px) {
  .cardContainer {
    --flex-direction: column;
    gap: 3rem;
  }
}
