.about {
  width: 100%; /* Take full width of the parent container */
  height: 100%;
  max-width: 1200px; /* Ensure it doesn't exceed a maximum width */
  height: fit-content;
  display: flex;
  flex-direction: column; /* Use column direction as needed */
  align-items: center; /* Center children horizontally within the container */
  padding: 3rem;
  margin: 0 auto 15rem auto; /* Similar margin to .home */
  gap: 3rem;
}

.about h1 {
  font-size: 2rem;
}

.about p {
  font-size: 1.25rem;
  font-weight: 400;
}

.about h1,
.about p {
  margin: 0;
}

.about a {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.blue {
  color: #1266ab;
}

.red {
  color: #b50101;
}
